/* Común */
*{
    font-family: 'Arial', sans-serif;
}
.main{
    text-align: center;
}
.pokeTitle{
    text-align: center;
}
.pokeImg{
    width: 100px;
}
/* pokeindex.html */
.pokeTable{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    border-spacing: 15px;
}
.pokeTable td{
    border: 1px solid lightgrey;
    border-radius: 10pt;
    border-top: none;
    border-bottom: none;
    height: 250px;
}

/* pokemon.html */
.abTable td, .abTable th{
    border: solid 1px black;
    text-align: left;
    padding: 7px;
}
.abTable{
    border-collapse: collapse;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.abTable th{
    background-color: lightgrey;
}
.pokeBut{
    margin-top: 10px;
}